* {
    margin: 0;
}

h1, p, button, input, h3{
    font-family: 'Dosis', sans-serif;
}
input {
    background-color: #F0ECE5;
    border-radius: 5px;
    padding: 5px;
}
button{
    background-color: #F0ECE5;
    border: 0;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
button:hover{
    background-color: rgb(182, 180, 180);
    cursor: pointer;
}